Tests/obj/Debug/netcoreapp2.0/Tests.csprojAssemblyReference.cache
CountWords/bin/Debug/netstandard2.0/CountWords.dll
CountWords/bin/Debug/netstandard2.0/CountWords.pdb
CountWords/obj/Debug/netstandard2.0/CountWords.dll
CountWords/obj/Debug/netstandard2.0/CountWords.pdb
CountWords/obj/Debug/netstandard2.0/CountWords.pdb
CountWords/bin/Debug/netstandard2.0/CountWords.dll
CountWords/bin/Debug/netstandard2.0/CountWords.pdb
CountWords/obj/Debug/netstandard2.0/CountWords.dll
Tests/obj/Debug/netcoreapp2.0/Tests.csproj.CoreCompileInputs.cache
Tests/bin/Debug/netcoreapp2.0/CountWords.dll
Tests/bin/Debug/netcoreapp2.0/CountWords.pdb
Tests/bin/Debug/netcoreapp2.0/Tests.dll
Tests/bin/Debug/netcoreapp2.0/Tests.pdb
Tests/obj/Debug/netcoreapp2.0/Tests.dll
Tests/obj/Debug/netcoreapp2.0/Tests.pdb
